body {
    background: #12202f;
    font-family: ui-sans, sans-serif;
    font-weight: 300;
    padding: 50px;
}

.wrapper {
    margin: 0 auto;
    width: 900px;
}

header {
    background: #075697;
    padding: 15px 20px;
}

header h1 {
    color: white;
    margin: 0;
    padding: 0;
}

section {
    background: #f6f6f6;
    padding: 15px 20px;
}

section h2 {
    color: #12202f;
}

section a {
    color: #075697;
}

section a:hover, section a:focus {
    color: #16adca;
}

section p code {
    color: #192532;
    font-weight: bold;
    font-family: monospace;
    font-size: 14px;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
    }

    .wrapper {
        width: 100%;
    }
}
